<html>
    <head>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--JQUERY-->
        <script type="text/javascript" src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <!--CSS-->
        <link href="admin.css" rel="stylesheet">
        <!--SWEETALERT-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    </head>
    <body>
        <center>
            
            <h1 class="adminTitle">
                ADMIN
                <a href="/logout" class="btn btn-outline-dark" style="margin: .5rem;">Logout</a>
            </h1>
            <button class="addNewDivButton btn btn-outline-dark">Add new</button>
            <button class="savedPhonesDivButton btn btn-outline-dark">Saved phones</button>
            <div class="container addNewDeviceDiv margin2">
                <h2>Add new phones</h2>
                <input class="searchInput input" type="text">
                <input class="searchButton btn btn-outline-dark" type="button" value="Search" />
                <div class="phonesDiv"></div>
            </div>
            <div class="container margin2 savedDevicesDiv hide">
                <h2>Saved phones</h2>
                <table>
                <% savedPhones.forEach(function(phone){ %>
                    <tr>
                        <td> <img style="width:7rem" src="<%= phone.pictureURL %>"> </td>
                        <td> <%= phone.Brand %> </td>
                        <td> <%= phone.DeviceName %> </td>
                        <td> <%= phone.announced %> </td>
                    </tr>
                    
                <% }); %>
                </table>
            </div>
            
        </center>
    </body>
        
<script>
//VÁLTOZÓK
var phones = [];
var savedPhones = <%- JSON.stringify(savedPhones) %>;

console.log(savedPhones)

//DOCUMENT READY
$(document).ready(()=>{
    //SEARCH SAVED DIVS CHANGING BUTTONS
    $(".savedPhonesDivButton").on("click",function(){
        $(".addNewDeviceDiv").addClass("hide");
        $(".savedDevicesDiv").removeClass("hide")
    });
    $(".addNewDivButton").on("click",function(){
        $(".savedDevicesDiv").addClass("hide");
        $(".addNewDeviceDiv").removeClass("hide")
    });

    //PRESS ENTER LISTENER
    $(".searchInput").enterPress(()=> $(".searchButton").trigger("click"));
    //SEARCH FOR PHONES BUTTON
    $(".searchButton").on("click",function(){
        $.ajax({
            type:"POST",
            url:"/searchForDevice",
            data:{
                deviceName: $(".searchInput").val()
            },
            success:function(data){
                searchAPISuccess(data)
            }
        });
    });
});
//FUNCTIONS
    //PRESS ENTER IN INPUT
    $.fn.enterPress = function (fnc) {
        return this.each(function () {
            $(this).keypress(function (ev) {
                var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                if (keycode == '13') {
                    fnc.call(this, ev);
                }
            })
        })
    }
    //SAVE NEW PHONE TO DATABASE
    function searchAPISuccess(data){
        console.log(data.phones)
        $(".phonesDiv").html("");
        if(data.phones.status == "error"){
            $(".phonesDiv").append("<h3> NO DATA FOUND </h3> <br/>")
        } else {
            data.phones.reverse();
            data.phones.forEach(function(phone,index){
                $(".phonesDiv").append("<h3 class='phoneH3' style='cursor:pointer;' id='"+ index +"'>" + phone.DeviceName + "</h3><h4>" + phone.announced + "</h4><br/>")
            });
            phones = data.phones;
            phoneH3Clicked()

        }
    }
    function phoneH3Clicked(){
        $(".phoneH3").on("click",function(){
            let hanyadik = parseInt($(this).attr("id"))
            Swal.fire({
                title: phones[hanyadik].DeviceName,
                html:"Brand: " + phones[hanyadik].Brand + "<br/> Announced: " +  phones[hanyadik].announced + "<br/> OS: " + phones[hanyadik].os +
                     '<input placeholder="Picture URL" id="pictureUrl" class="swal2-input">' +
                     '<input placeholder="Shop URL" id="shopUrl" class="swal2-input">',
                showCancelButton: true,
                confirmButtonText: 'Save',
                preConfirm: () => {
                    return [
                    $('#pictureUrl').val(),
                    $('#shopUrl').val()
                    ]
                }
                }).then((input) => {
                    console.log(input)
                    if (input.value) {
                        saveToDatabase(phones[hanyadik],input.value[0],input.value[1])
                    } else if(input.value[0] == "" || input.value[1] == "") {
                        Swal.fire('Empty URL!','','error')
                    }
            });
        });
    }
    function saveToDatabase(dataToSave,pictureUrl,shopURL){
        dataToSave.pictureURL = pictureUrl;
        dataToSave.shopURL = shopURL;
        $.ajax({
            type:"POST",
            url:"/saveToDB",
            data:{
                phone:dataToSave
            },
            success:function(dataBack){
                Swal.fire(dataBack.phoneName + " elmentve",'','success')
            },
            error:function(){
                Swal.fire('Try again later!','','error')
            }
        })
    }

</script>
</html>